p{
    background-color: silver;
    width:300px;
    
}
p+div{
    border:1px solid silver;
    width:300px;
    height: 400px;
}
a{
    display:inline-block;
    width: 300px;
    height: 150px;
    border:3px solid silver;

}
a:active{
    background-color:yellow;
    color:darkslateblue;
}

a:link{
    background-color:green;
    color:skyblue;

}
a:hover{
    color:magenta;
}
a:visited{
    background-color: darkslateblue;
    color:white;
}